{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <div class="page-main">
        {% include 'partials/top-menu.html' %}
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <form id="namespace_create" class="card _endpoint_connect" onsubmit="return false" action="{% url 'app.api.private.v1.admin.namespaces.endpoint' %}/{{ namespace_id }}" method="post"data-succ-type="redirect" data-succ-url="{% url 'app.web.admin.namespaces.list' %}" data-succ-wait="3000">
                            {% csrf_token %}
                            <div class="card-status bg-green"></div>
                            <div class="card-header">
                                <h3 class="card-title">{% trans "Namespace" %}</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label class="form-label">Name</label>
                                            <input type="text" class="form-control" name="name" value="{{ namespace_name }}" placeholder="Namespace Name" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Slug</label>
                                            <input type="text" class="form-control" name="slug" value="{{ namespace_slug }}" placeholder="Namespace Slug" required>
                                        </div>
                                        <br/>
                                        <div class="form-group">
                                            <label class="custom-switch">
                                                {% if namespace_is_public %}
                                                    <input type="checkbox" name="is_public" class="custom-switch-input" value="on" checked>
                                                {% else %}
                                                    <input type="checkbox" name="is_public" class="custom-switch-input" value="on">
                                                {% endif %}
                                                <span class="custom-switch-indicator"></span>
                                                <span class="custom-switch-description">Make it Public</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-right">
                                <div class="d-flex">
                                    <button type="submit" class="btn btn-primary ml-auto">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/bottom-menu.html' %}

{% endblock %}