{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col col-login mx-auto">
                    <div class="text-center mb-6">
                    	<a href="/">
                        	<img src="{% static 'assets/images/logo.png' %}" class="h-9">
                    	</a>
                    </div>
                    <form class="card" action="" method="post">
                        <div class="card-body p-6">
                            <div class="card-title text-center">{% trans "Reset password" %}</div>
                            <div class="form-group">
                                <label class="form-label">{% trans "New Password" %}</label>
                                <input type="password" class="form-control" placeholder="{% trans "Enter password" %}">
                            </div>
                            <div class="form-footer">
                                <button type="submit" class="btn btn-primary btn-block">{% trans "Submit" %}</button>
                            </div>
                        </div>
                    </form>
                    <div class="text-center text-muted">
                        {% trans "Cool," %} <a href="./login">{% trans "send me back" %}</a> {% trans "to the sign in screen." %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}